name: aigle_au_stade
description: Application de billetterie e-ticket
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # State Management
  provider: ^6.1.1

  # QR Code
  qr_flutter: ^4.1.0
  mobile_scanner: ^3.5.5

  # UI
  cupertino_icons: ^1.0.2
  http: ^1.6.0
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
